.login, .login-pf body {
  background: none;
}

.login-pf {
  background: none;
}

.login-pf-page {
  padding-top: 0px;
}

.card-pf {
  padding-top: 0px;
}

#kc-header-wrapper {
  padding: 0px 10px 0px;
}

#kc-logo-wrapper {
  background-image: url(../img/citar-logo-text.png);
  height: 400px;
  width: 1016px;
}

div.kc-logo-text {
  background-image: url(../img/citar-logo-text.png);
  height: 400px;
  width: 1016px;
  scale: 50%;
}
